<article class="post">
  <h2 class="post-title">
    <a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
  </h2>
  
  <div class="post-content">
    {{ include.post.content }}
  </div>

  <footer class="post-meta">
    {% if include.post.tags %}
      <span class="post-tags">
        {% for tag in include.post.tags %}
          <a href="" class="tag"># {{ tag | upcase }}</a>
        {% endfor %}
      </span>
    {% endif %}
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: "%B %-d, %Y (%l:%M %p)" | upcase }}</time>
  </footer>
</article>
