---
layout: default
title: Archive
---

{% if site.show_only and site.show_only != "" %}
  {% assign posts = site.categories[site.show_only] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="archive">
  <h2>Archive</h2>
  
  {% for post in posts %}
    {% assign current_year = post.date | date: "%Y" %}
    {% assign previous_year = post.next.date | date: "%Y" %}
    
    {% if forloop.first or current_year != previous_year %}
      <h3 class="archive-year">{{ current_year }}</h3>
    {% endif %}
    
    <article class="archive-item">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%b %-d" }}
      </time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </article>
  {% endfor %}
</div>
