<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <div class="color_bar"></div>
  
  <div class="container">
    <header class="site-header">
      <div class="header-content">
        <div class="header-text">
          <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
        <section id="blog_avatar">
          <a href="{{ '/' | relative_url }}" class="avatar"><img src="https://64.media.tumblr.com/avatar_d5cc9c5f62fa_64.pnj" alt="Avatar"></a>
        </section>
      </div>
    </header>

    <main class="site-content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <p>&copy; 2012–{{ 'now' | date: "%Y" }} {{ site.title | upcase }}</p>
    </footer>
  </div>
</body>
</html>
